<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>memberList</title>
</head>
<body>
	<table>
		<tr>
			<th>name</th>
			<th>password</th>
			<th>perms</th>
			<th colspan="2">操作</th>
		</tr>
		<tr th:each="member:${list}">
			<td th:text="${member.name}"></td>
			<td th:text="${member.password}"></td>
			<td th:text="${member.perms}"></td>
			<td><a th:href="@{'/doDelete?id='+${member.id}}">删除</a></td>
			<td><a th:href="@{'/toUpdate?id='+${member.id}}">修改</a></td>
		</tr>
	</table>
</body>
</html>